<!-- app/views/poems/index.html.erb -->

<div class="poem-feed">
  <% @poems.each do |poem| %>
    <div class="poem-card">
      <div class="poem-card__header">
        <div class="poem-card__author">
          <div class="author-avatar">
            <!-- Placeholder icon for author avatar -->
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="author-info">
            <span class="author-name"><%= poem.user.username %></span>
          </div>
        </div>
        <!-- Optional: More options icon -->
        <div class="poem-card__options">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
      <div class="poem-card__body">
        <h2 class="poem-title"><%= link_to poem.title, poem_path(poem) %></h2>
        <div class="poem-content">
          <%= simple_format(poem.content.truncate(300)) %>
        </div>
      </div>
      <div class="poem-card__footer">
        <!-- Like and comment icons -->
        <div class="poem-actions">
          <i class="far fa-heart"></i>
          <i class="far fa-comment"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
