<!-- app/views/poems/show.html.erb -->

<div class="poem-display">
  <div class="poem-header">
    <div class="author-avatar">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="author-info">
      <span class="author-name"><%= @poem.user.username %></span>
      <span class="post-date"><%= @poem.created_at.strftime("%B %d, %Y") %></span>
    </div>
  </div>

  <div class="poem-content">
    <h1 class="poem-title"><%= @poem.title %></h1>
    <div class="poem-body">
      <%= simple_format(@poem.content) %>
    </div>
  </div>

  <div class="poem-footer">
    <!-- Like and comment icons -->
    <div class="poem-actions">
      <i class="far fa-heart"></i>
      <i class="far fa-comment"></i>
    </div>
  </div>
</div>
