<%# app/views/poems/form_guidelines/_free_verse.html.erb %>
<div class="form-guidelines-content">
  <h4>Free Verse Guidelines</h4>
  <ul>
    <li>No fixed pattern or form</li>
    <li>Freedom in line length and structure</li>
    <li>May or may not use rhyme</li>
    <li>Emphasis on natural speech rhythms</li>
    <li>Can incorporate elements from other forms</li>
  </ul>
</div>
