
<%# app/views/poems/form_guidelines/_haiku.html.erb %>
<div class="form-guidelines-content">
  <h4>Haiku Guidelines</h4>
  <ul>
    <li>3 lines total</li>
    <li>5-7-5 syllable pattern</li>
    <li>Usually focuses on a moment in nature</li>
    <li>Often includes a seasonal reference</li>
    <li>Captures a single, fleeting moment</li>
  </ul>
</div>