<%# app/views/poems/form_guidelines/_limerick.html.erb %>
<div class="form-guidelines-content">
  <h4>Limerick Guidelines</h4>
  <ul>
    <li>5 lines total</li>
    <li>Rhyme scheme: AABBA</li>
    <li>Lines 1, 2, and 5 are longer (8-9 syllables)</li>
    <li>Lines 3 and 4 are shorter (5-6 syllables)</li>
    <li>Often humorous or playful in nature</li>
  </ul>
</div>