<%# app/views/poems/form_guidelines/_sonnet.html.erb %>
<div class="form-guidelines-content">
  <h4>Sonnet Guidelines</h4>
  <ul>
    <li>14 lines total</li>
    <li>Traditional rhyme scheme: ABAB CDCD EFEF GG</li>
    <li>Usually written in iambic pentameter</li>
  </ul>
</div>
