<%# app/views/poems/form_guidelines/_tanka.html.erb %>
<div class="form-guidelines-content">
  <h4>Tanka Guidelines</h4>
  <ul>
    <li>5 lines total</li>
    <li>Syllable pattern: 5-7-5-7-7</li>
    <li>Often focuses on strong emotions or personal experiences</li>
    <li>Can be more subjective than haiku</li>
    <li>Traditionally evokes a mood or atmosphere</li>
  </ul>
</div>