// app/assets/stylesheets/base/_reset.scss
@import "base/variables";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-ui;
  color: $color-ink;
  line-height: 1.5;
}