<!-- app/views/comments/_form.html.erb -->
<%= form_with(model: [poem, Comment.new],
              class: "comment-form",
              id: "new_comment") do |f| %>
  <div class="field">
    <%= f.text_area :content,
                    rows: 3,
                    placeholder: "Add a thoughtful comment...",
                    class: "comment-input" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Post Comment", class: "btn btn-comment" %>
  </div>
<% end %>