// app/assets/stylesheets/variables.scss

$font-serif: 'Adobe Caslon Pro', 'Times New Roman', serif;
$font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #333333;
$color-light-grey: #F7F7F7;
$color-accent: #E13D3D;
$color-border: #CCCCCC;
$color-primary: #000000;
$color-hover: #E13D3D;